body {
    text-align:center;
    background-color: lightgrey;
} 
img {
    height:200px;
}
.CONTAINER{
    width: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 150px;
    border-style: solid;
    }
    .h1{
        display: flex;
        font-family: fantasy;
        font-size: 150px;
        justify-content: center;
        margin-top: 0;
    }
 
        .box1{
            background-color: lightsalmon;
            display: flex;
            margin: 15px; 
            border: 2px solid;
            justify-content: space-around;

}
    .box2{
        background-color: mediumaquamarine;
        padding: 15px; 
        border: 2px solid;
        margin: 15px;
    }
    .box3{  display: flex;
        margin: 15px;
        flex-shrink: initial;
        justify-content: space-around;
        background-color: greenyellow;
    }
    .box2in{
        display: inline-block;
        margin-left: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 40x;
    }
    .img{
        max-width: 50%;
    }
*{
    margin: 0;
    padding: 0;
}
span{
    color: rgb(107, 158, 224);
    text-align: center ;
    text-decoration: underline;
}
p{
    font-size: -500px;
    margin-bottom: 100px;
    font-family: sans-serif;
    color: grey;
}
