
   
      table, th, td {
        border: 1px solid black; text-align: center;
    text-align: center;}
        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            background-color: darksalmon;}
            BODY{background-color: darkslategray;
            }
  #TABLE.CENTER{margin-top: ;}
  label, input {
    display: block;