H1{background-color: black;}
h1{color: white;
    font-style:oblique;}
H2{background-color: purple;font-style: italic;}
h2{color: white;
text-align: center;}
p{background-color: lightskyblue;
text-align: right;
    text-decoration: underline;}